.navbar__button-default {
  height: var(--nav--height);
  width: var(--nav--height);
  background-color: var(--bg);
  color: var(--text);
  border: none;
  cursor: pointer;
}
.navbar__button-default:hover {
  background-color: var(--bg-light);
}
.dark-mode-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dark-mode-toggler svg:last-child {
  display: none;
}
body.light .dark-mode-toggler svg:first-child {
  display: none;
}
body.light .dark-mode-toggler svg:last-child {
  display: block;
}
svg {
  fill: var(--text);
  pointer-events: none;
}

/* button:focus {
  outline: 1px solid gray;
} */

aside {
  grid-area: sidebar;
  position: sticky;
  top: var(--nav--height); /* calc(2rem + 2 * var(--nav--padding)); */
  align-self: start;
  min-height: calc(100vh - var(--nav--height)); /* calc(100vh - (2rem + 2 * var(--nav--padding))); */
  background-color: var(--bg);
  border: var(--border-card);
  /* border-top: var(--highlight); */
  box-shadow: var(--shadow);
}
body.light aside {
  border: 1px solid black;
}


/* .popup__overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
} */

dialog {
  text-align: center;
  /* position: fixed; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg);
  /* border: var(--border-card); */
  border: none;
  /* border-top: 1px solid var(--highlight); */
  border-radius: 8px;
  width: fit-content;
}
/* dialog .wrapper {
  padding: 16px;
} */
dialog .wrapper > * {
  padding: 32px;
}
dialog .wrapper {
  border: 1px solid var(--border);
  border-radius: inherit;
}
dialog .wrapper > *:not(:last-child) {
  border-bottom: 1px solid var(--border);
  /* border: var(--border-card); */
  /* border-radius: inherit; */
}

/* .hover-div::after {
  content: "Text that appears on hover";
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hover-div:hover::after {
  visibility: visible;
  opacity: 1;
} */

.statistics-display {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* or repeat(5, minmax(3rem, 1fr) */
  grid-auto-flow: column;
  column-gap: var(--24px);
}
.stats-column {
  width: max(3rem, 6vh);
}
.stats-num {
  font-size: var(--30px);
}
.stats-label {
  font-size: var(--14px);
  color: var(--text-muted);
  padding-top: var(--12px);
}

.popup-settings__reset-statistics {
  cursor: pointer;
  background-color: var(--bg-dark);
  border: var(--border-card);
  border-radius: 4px;
  padding: 0.5rem;
  font-size: var(--14px);
}
.popup-settings__reset-statistics:hover {
  background-color: var(--bg);
}
.popup-settings__reset-statistics:active {
  background-color: var(--bg-light);
}



.popup-result__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  padding: 36px 48px;
  background-color: var(--bg);
  border: var(--border-card);
  border-top: 1px solid var(--highlight);
  border-radius: 8px;
}

.word-reveal {
  margin: 1rem;
}
.reset-button {
  font-size: clamp(16px, 1rem, 6rem);
  border: var(--border-card);
  border-top: 1px solid var(--highlight);
  border-radius: 12px;
  cursor: pointer;
  padding: 12px;
  width: fit-content;
  background-color: var(--bg-light);
  color: var(--text);
  box-shadow: var(--shadow);
}
.reset-button:hover {
  background-color: var(--primary-color--hover);
}
.reset-button:active {
  background-color: var(--primary-color--active);
}


footer {
  grid-area: footer;
  height: auto;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  color: var(--text-muted);
  background-color: var(--bg);
  margin-top: 1rem;
  padding: 8px;
}